body {
  min-width: 70%;
  max-width: 900px;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(19, 19, 19);
}

#loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 9999;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-screen > p {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}

main {
  display: grid;
  grid-template-areas:
    "select"
    "infospells";
}

div#header {
  border: 2px solid #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(19, 19, 19);
  color: wheat;
}

div#header > a {
  align-self: flex-end;
}

div#champion-select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#champion-select > select {
  max-width: 175px;
  justify-self: center;
  margin-bottom: 10px;
}

div#champion-selector-search {
  display: flex;
  flex-direction: row;
  border: 2px solid #f3f3f3;
  overflow-y: hidden;
  width: 75%;
  height: 500px;
  margin-bottom: 20px;
}

input#searchChampions {
  background-color: rgb(19, 19, 19);
  font-size: 20px;
  color: white;
  text-align: center;
  max-height: 30px;
  width: 100%;
  justify-self: center;
}

div#champion-selector {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  justify-self: center;
  overflow-y: scroll;
}

div.champion-icon {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
  max-height: 250px;
}

div.champion-icon > p {
  margin: 5px 0px 0px 0px;
  text-align: center;
}

div.champion-icon > img {
  max-height: 64px;
  max-width: 64px;
  align-self: center;
  border: 5px solid black;
}

div#item-selector {
  display: flex;
  flex-direction: row;
  border: 2px solid #f3f3f3;
  overflow-y: scroll;
  width: 75%;
  height: 500px;
  margin-bottom: 20px;
}

input#searchItems {
  background-color: rgb(19, 19, 19);
  font-size: 20px;
  color: white;
  text-align: center;
}

div.item-icons {
  margin-left: 10px;
}

div.item-icons > img {
  border: 2px solid green;
  margin: 2px;
  width: 40px;
  height: 40px;
}

div#items {
  margin-top: 10px;
  display: block;
  align-items: center;
}

div#items > hr {
  width: 97%;
  align-self: center;
}

span.item-class {
  margin: 10px 10px 10px 10px;
  display: block;
  text-align: center;
}

div.info {
  grid-area: infospells;
}

div#champion-info-spells {
  display: grid;
  grid-template-areas: "info spells";
}

div#champion-info {
  grid-area: info;
  border: 2px #f3f3f3 solid;
  color: white;
}

div#champion-loading {
  display: flex;
  justify-content: center;
  background-color: black;
}

img#champion-loading {
  width: 60%;
  height: 40%;
  max-width: 185px;
  max-height: 320px;
  align-self: center;
}

div.champion-name {
  border: 2px #f3f3f3 solid;
  display: flex;
  flex-direction: column;
  margin: 0;
}

div.champion-name > h2,
div.champion-name > h3 {
  margin: 0px;
  text-align: center;
}

span#champion-name {
  overflow: visible;
  text-align: center;
}

span#champion-title {
  overflow: visible;
  text-align: center;
}

div#champion-stats {
  display: flex;
  flex-direction: column;
  grid-area: spells;
  border: 2px gold solid;
}

div#base-stats-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#base-stats {
  display: grid;
  grid-template-areas: "health resource";
  grid-template-columns: 50% 50%;
}

div.column1 {
  border: 2px #f3f3f3 solid;
  grid-area: health;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.column1 > p {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
}

div.column2 {
  grid-area: resource;
  border: 2px #f3f3f3 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.column2 > p {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
}

div#champion-spells {
  grid-area: spells;
  border: 2px #f3f3f3 solid;
}

div#champion-spells > h2 {
  text-align: center;
  color: white;
}

p.ability-name {
  margin-left: 10px;
  color: white;
}

div.ability {
  display: flex;
  flex-direction: row;
  color: white;
}

div.ability > img {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

div#effect {
  margin-right: 20px;
}

div.ability-effect {
  overflow: hidden;
}

.innate-text {
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.extra-text {
  color: darkred;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

div.buttons {
  margin-left: 10px;
}

div.notes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

div.notes > button {
  background-color: #f1f1f1;
  border: 2px solid black;
  border-radius: 20%;
  padding: 10px 10px;
  cursor: pointer;
}

div.notes > button:hover {
  background-color: #ddd;
}

div.R {
  margin-bottom: 10px;
}

div#item-info {
  border: 2px solid #f3f3f3;
  width: 75%;
  justify-self: center;
  display: grid;
  background-color: rgb(19, 19, 19);
  color: white;
}

div#item-info > div {
  margin-top: 5px;
  margin-bottom: 5px;
}

div#item-icon-name-cost {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
}

div#item-name-cost {
  display: grid;
  margin-left: 15px;
}

img#item-icon {
  width: 40px;
  height: 40px;
  border: 2px solid green;
}

div#item-cost > img {
  width: 20px;
  height: 20px;
  transform: translate(0%, 20%);
}

ul.item-stats {
  list-style-type: none;
}

img#stat-icon {
  width: 16px;
  height: 16px;
}

div#active-effects > p {
  margin-left: 20px;
}
